body {
    /* background-color: rgba(88,69,151,255); */
    background-color: white;
    color: black    ;
}

header {
    background-color: rgba(88,69,151,255);
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;  
    height: 8rem;
}

#PGDemo-logo {
    height: 8rem;
    width: auto;
}

.navbar-option{
    color: white;
    text-decoration: none;
    
    border-radius: 10px;
    text-align: center; 
    font-weight: 600;
}

.navbar ul li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
    
.waterfront-img {
    padding-top: 10px;
    margin: auto;
    width: 80%;
    display: block;
}
        
        
        
        








/* position: relative;
top: 50%;
transform: translate(-50%); */