body {
    /* background-color: rgba(88,69,151,255); */
    background-color: white;
    color: white;
}

header {
    background-color: rgba(88,69,151,255);
}


#navbar-container {
    display: flex;
    justify-content: space-around;
    /* background-color: white; */
    height: 8rem;
    width: 90%;
    /* position: absolute; */
}

#PGDemo-logo {
    height: 8rem;
    width: auto;
}

.navbar-option {
    color: white;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    width: 8%;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-top: 3px;
}











/* position: relative;
top: 50%;
transform: translate(-50%); */